# Самостоятельное задание #4


Дана строка: Lambdadambda
    
**Вывести третий символ этой строки.**

In [3]:
row = "Lambdadambda"
print(row[2])

m

**Вывести предпоследний символ этой строки.**

In [4]:
row = "Lambdadambda"
print(row[10])

d

**Вывести первые пять символов этой строки.**

In [12]:
row = "Lambdadambda"
for i in range (0,5):
    print(row[i])

L
a
m
b
d

**Вывести строку, кроме последних двух символов.**

In [17]:
row = "Lambdadambda"
for i in range (0,10):
  print(row[i])

L
a
m
b
d
a
d
a
m
b

**Вывести все символы с четными индексами (считайте, что 0 - четный индекс).**

In [20]:
row = "Lambdadambda"
for i in range (0,12):
  if i%2 == 0:
    print(row[i])

L
m
d
d
m
d

**Вывести все символы с нечетными индексами.**

In [21]:
row = "Lambdadambda"
for i in range(len(row)):
    if i % 2 != 0:
        print(row[i])

a
b
a
a
b
a

**Вывести все символы в обратном порядке.**

In [22]:
row = "Lambdadambda"
print(row[::-1])

adbmadadbmaL

**Вывести все символы строки через один в обратном порядке, начиная с последнего.**

In [23]:
row = "Lambdadambda" 
r = row[::-1] 
for i in range(len(r)):
    if i % 2 == 0:
        print(r[i])

a
b
a
a
b
a

**Вывести длину данной строки.**

In [24]:
row = "Lambdadambda"
print(len(row))

12